*~

/GestionBureau/nbproject/
/GestionBureau/GestionBureau-war/nbproject/
/GestionBureau/GestionBureau-ejb/nbproject/

/GestionBureau/build/
/GestionBureau/src/

/GestionBureau/build.xml
/GestionBureau/GestionBureau-ejb/build/
/GestionBureau/GestionBureau-war/build/

/GestionBureau/GestionBureau-ejb/build.xml
/GestionBureau/GestionBureau-war/build.xml
/GestionBureau/GestionBureau-ejb/dist/
/GestionBureau/GestionBureau-ejb/build/
/GestionBureau/GestionBureau-war/dist/
/GestionBureau/GestionBureau-war/build/
/GestionBureau/build/
/GestionBureau/dist/
