*~

/GestionBureau-ejb/
/GestionBureau-war/
/dist/
/nbproject/
/build.xml

/GestionBureau/nbproject/
/GestionBureau/GestionBureau-war/nbproject/
/GestionBureau/GestionBureau-ejb/nbproject/

/GestionBureau/build/
/GestionBureau/src/

/GestionBureau/build.xml
/GestionBureau/GestionBureau-ejb/build/
/GestionBureau/GestionBureau-war/build/

/GestionBureau/GestionBureau-ejb/build.xml
/GestionBureau/GestionBureau-war/build.xml
/GestionBureau/GestionBureau-ejb/dist/
/GestionBureau/GestionBureau-ejb/build/
/GestionBureau/GestionBureau-war/dist/
/GestionBureau/GestionBureau-war/build/
/GestionBureau/build/
/GestionBureau/dist/
/nbproject/private/
/GestionBureau-war/nbproject/private/
/GestionBureau-ejb/nbproject/private/
/GestionBureau-ejb/build/
/GestionBureau-ejb/dist/
/GestionBureau-war/build/
/GestionBureau-war/dist/
/build/
